@model CategoryVM
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>
<form asp-action="Create" method="post">
    <label asp-for="Title" class="form-label fw-semibold"></label>
    <input asp-for="Title" class="form-control shadow-sm" placeholder="Enter category title..." />
    <span asp-validation-for="Title" class="text-danger"></span>
    <input type="submit" class="btn btn-success fw-semibold shadow-sm px-4" value="Create" />

</form>
