@model CategoryVM
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>
<form asp-action="Edit" method="post" asp-item-id ="@Model.Id">
    <label asp-for="Title" class="form-label fw-semibold"></label>
    <input asp-for="Title" class="form-control shadow-sm" placeholder="Enter category title..." />
    <span asp-validation-for="Title" class="text-danger"></span>
    <input type="submit" class="btn btn-success fw-semibold shadow-sm px-4" value="Update" />
</form>

